{
	presets: [
		["@babel/preset-env", {
			"targets": {
				"node": "current"
			}
		}],
		"@babel/preset-stage-0",
		/* currently broken "babel-preset-minify" */
	],
	plugins: [
		["@babel/plugin-proposal-unicode-property-regex", {
			useUnicodeFlag: true
		}]
	]
}